<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="INSTALLDIR">
            <Component Id="ByteSize.dll" Guid="*">
                <File Id="ByteSize.dll" KeyPath="yes" Source="SourceDir\ByteSize.dll" />
                <RegistryValue Root="HKCR" Key="Record\{A30DE4D2-320E-3D21-899E-FFF6968E0DD3}\2.0.0.0" Name="Class" Value="ByteSizeLib.ByteSize" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{A30DE4D2-320E-3D21-899E-FFF6968E0DD3}\2.0.0.0" Name="Assembly" Value="ByteSize, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{A30DE4D2-320E-3D21-899E-FFF6968E0DD3}\2.0.0.0" Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
                <RegistryValue Root="HKCR" Key="Record\{A30DE4D2-320E-3D21-899E-FFF6968E0DD3}\2.0.0.0" Name="CodeBase" Value="file:///[#ByteSize.dll]" Type="string" Action="write" />
            </Component>
            <Component Id="ClrVpin.deps.json" Guid="*">
                <File Id="ClrVpin.deps.json" KeyPath="yes" Source="SourceDir\ClrVpin.deps.json" />
            </Component>
            <Component Id="ClrVpin.dll" Guid="*">
                <File Id="ClrVpin.dll" KeyPath="yes" Source="SourceDir\ClrVpin.dll" />
            </Component>
            <Component Id="ClrVpin.exe" Guid="*">
                <File Id="ClrVpin.exe" KeyPath="yes" Source="SourceDir\ClrVpin.exe" />
            </Component>
            <Component Id="ClrVpin.pdb" Guid="*">
                <File Id="ClrVpin.pdb" KeyPath="yes" Source="SourceDir\ClrVpin.pdb" />
            </Component>
            <Component Id="ClrVpin.runtimeconfig.dev.json" Guid="*">
                <File Id="ClrVpin.runtimeconfig.dev.json" KeyPath="yes" Source="SourceDir\ClrVpin.runtimeconfig.dev.json" />
            </Component>
            <Component Id="ClrVpin.runtimeconfig.json" Guid="*">
                <File Id="ClrVpin.runtimeconfig.json" KeyPath="yes" Source="SourceDir\ClrVpin.runtimeconfig.json" />
            </Component>
            <Component Id="MaterialDesignColors.dll" Guid="*">
                <File Id="MaterialDesignColors.dll" KeyPath="yes" Source="SourceDir\MaterialDesignColors.dll" />
            </Component>
            <Component Id="MaterialDesignExtensions.dll" Guid="*">
                <File Id="MaterialDesignExtensions.dll" KeyPath="yes" Source="SourceDir\MaterialDesignExtensions.dll" />
            </Component>
            <Component Id="MaterialDesignThemes.Wpf.dll" Guid="*">
                <File Id="MaterialDesignThemes.Wpf.dll" KeyPath="yes" Source="SourceDir\MaterialDesignThemes.Wpf.dll" />
            </Component>
            <Component Id="Microsoft.WindowsAPICodePack.dll" Guid="*">
                <File Id="Microsoft.WindowsAPICodePack.dll" KeyPath="yes" Source="SourceDir\Microsoft.WindowsAPICodePack.dll" />
            </Component>
            <Component Id="Microsoft.WindowsAPICodePack.Shell.dll" Guid="*">
                <File Id="Microsoft.WindowsAPICodePack.Shell.dll" KeyPath="yes" Source="SourceDir\Microsoft.WindowsAPICodePack.Shell.dll" />
            </Component>
            <Component Id="Microsoft.Xaml.Behaviors.dll" Guid="*">
                <File Id="Microsoft.Xaml.Behaviors.dll" KeyPath="yes" Source="SourceDir\Microsoft.Xaml.Behaviors.dll" />
            </Component>
            <Component Id="nlog.config" Guid="*">
                <File Id="nlog.config" KeyPath="yes" Source="SourceDir\nlog.config" />
            </Component>
            <Component Id="NLog.dll" Guid="*">
                <File Id="NLog.dll" KeyPath="yes" Source="SourceDir\NLog.dll" />
            </Component>
            <Component Id="Utils.dll" Guid="*">
                <File Id="Utils.dll" KeyPath="yes" Source="SourceDir\Utils.dll" />
            </Component>
            <Component Id="Utils.pdb" Guid="*">
                <File Id="Utils.pdb" KeyPath="yes" Source="SourceDir\Utils.pdb" />
            </Component>
            <Directory Id="ar_DZ" Name="ar-DZ">
                <Component Id="MaterialDesignExtensions.resources.dll" Guid="*">
                    <File Id="MaterialDesignExtensions.resources.dll" KeyPath="yes" Source="SourceDir\ar-DZ\MaterialDesignExtensions.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="cs" Name="cs">
                <Component Id="MaterialDesignExtensions.resources.dll_1" Guid="*">
                    <File Id="MaterialDesignExtensions.resources.dll_1" KeyPath="yes" Source="SourceDir\cs\MaterialDesignExtensions.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="cs_CZ" Name="cs-CZ">
                <Component Id="MaterialDesignExtensions.resources.dll_2" Guid="*">
                    <File Id="MaterialDesignExtensions.resources.dll_2" KeyPath="yes" Source="SourceDir\cs-CZ\MaterialDesignExtensions.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="de" Name="de">
                <Component Id="MaterialDesignExtensions.resources.dll_3" Guid="*">
                    <File Id="MaterialDesignExtensions.resources.dll_3" KeyPath="yes" Source="SourceDir\de\MaterialDesignExtensions.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="fr" Name="fr">
                <Component Id="MaterialDesignExtensions.resources.dll_4" Guid="*">
                    <File Id="MaterialDesignExtensions.resources.dll_4" KeyPath="yes" Source="SourceDir\fr\MaterialDesignExtensions.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="fr_FR" Name="fr-FR">
                <Component Id="MaterialDesignExtensions.resources.dll_5" Guid="*">
                    <File Id="MaterialDesignExtensions.resources.dll_5" KeyPath="yes" Source="SourceDir\fr-FR\MaterialDesignExtensions.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="pt" Name="pt">
                <Component Id="MaterialDesignExtensions.resources.dll_6" Guid="*">
                    <File Id="MaterialDesignExtensions.resources.dll_6" KeyPath="yes" Source="SourceDir\pt\MaterialDesignExtensions.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="pt_BR" Name="pt-BR">
                <Component Id="MaterialDesignExtensions.resources.dll_7" Guid="*">
                    <File Id="MaterialDesignExtensions.resources.dll_7" KeyPath="yes" Source="SourceDir\pt-BR\MaterialDesignExtensions.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="ref" Name="ref">
                <Component Id="ClrVpin.dll_1" Guid="*">
                    <File Id="ClrVpin.dll_1" KeyPath="yes" Source="SourceDir\ref\ClrVpin.dll" />
                </Component>
            </Directory>
            <Directory Id="Ru" Name="Ru">
                <Component Id="MaterialDesignExtensions.resources.dll_8" Guid="*">
                    <File Id="MaterialDesignExtensions.resources.dll_8" KeyPath="yes" Source="SourceDir\Ru\MaterialDesignExtensions.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="ru_ru" Name="ru-ru">
                <Component Id="MaterialDesignExtensions.resources.dll_9" Guid="*">
                    <File Id="MaterialDesignExtensions.resources.dll_9" KeyPath="yes" Source="SourceDir\ru-ru\MaterialDesignExtensions.resources.dll" />
                </Component>
            </Directory>
            <Directory Id="uz_Latn_UZ" Name="uz-Latn-UZ">
                <Component Id="MaterialDesignExtensions.resources.dll_10" Guid="*">
                    <File Id="MaterialDesignExtensions.resources.dll_10" KeyPath="yes" Source="SourceDir\uz-Latn-UZ\MaterialDesignExtensions.resources.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ProductComponents">
            <ComponentRef Id="ByteSize.dll" />
            <ComponentRef Id="ClrVpin.deps.json" />
            <ComponentRef Id="ClrVpin.dll" />
            <ComponentRef Id="ClrVpin.exe" />
            <ComponentRef Id="ClrVpin.pdb" />
            <ComponentRef Id="ClrVpin.runtimeconfig.dev.json" />
            <ComponentRef Id="ClrVpin.runtimeconfig.json" />
            <ComponentRef Id="MaterialDesignColors.dll" />
            <ComponentRef Id="MaterialDesignExtensions.dll" />
            <ComponentRef Id="MaterialDesignThemes.Wpf.dll" />
            <ComponentRef Id="Microsoft.WindowsAPICodePack.dll" />
            <ComponentRef Id="Microsoft.WindowsAPICodePack.Shell.dll" />
            <ComponentRef Id="Microsoft.Xaml.Behaviors.dll" />
            <ComponentRef Id="nlog.config" />
            <ComponentRef Id="NLog.dll" />
            <ComponentRef Id="Utils.dll" />
            <ComponentRef Id="Utils.pdb" />
            <ComponentRef Id="MaterialDesignExtensions.resources.dll" />
            <ComponentRef Id="MaterialDesignExtensions.resources.dll_1" />
            <ComponentRef Id="MaterialDesignExtensions.resources.dll_2" />
            <ComponentRef Id="MaterialDesignExtensions.resources.dll_3" />
            <ComponentRef Id="MaterialDesignExtensions.resources.dll_4" />
            <ComponentRef Id="MaterialDesignExtensions.resources.dll_5" />
            <ComponentRef Id="MaterialDesignExtensions.resources.dll_6" />
            <ComponentRef Id="MaterialDesignExtensions.resources.dll_7" />
            <ComponentRef Id="ClrVpin.dll_1" />
            <ComponentRef Id="MaterialDesignExtensions.resources.dll_8" />
            <ComponentRef Id="MaterialDesignExtensions.resources.dll_9" />
            <ComponentRef Id="MaterialDesignExtensions.resources.dll_10" />
        </ComponentGroup>
    </Fragment>
</Wix>