<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="ClrVpin" Language="1033" Version="0.1.0.0" Manufacturer="Stoj" UpgradeCode="65e602aa-6d03-452a-b074-fbdc774e7f9a">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="ClrVpin Setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="Folders" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="InstallFolder" Name="ClrVpin">
          <Directory Id="BackupFolder" Name="backup" />
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <Component Id="MyBackup" Directory="Backup" Guid="D92C7ACD-D58E-4A7F-83C8-C6AE57E45DFB">
      <CreateFolder />
    </Component>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="InstallFolder">
      <Component Id="ProductComponent" Guid="8A17DDBE-F668-4821-A8FF-DE0878EDD380">
        <File Source="$(var.ClrVpin.TargetDir)ClrVpin.exe" />
        <File Source="$(var.ClrVpin.TargetDir)ClrVpin.dll" />
        <File Source="$(var.ClrVpin.TargetDir)ByteSize.dll" />
        <File Source="$(var.ClrVpin.TargetDir)MaterialDesignColors.dll" />
        <File Source="$(var.ClrVpin.TargetDir)MaterialDesignExtensions.dll" />
        <File Source="$(var.ClrVpin.TargetDir)MaterialDesignThemes.Wpf.dll" />
        <File Source="$(var.ClrVpin.TargetDir)Microsoft.WindowsAPICodePack.dll" />
        <File Source="$(var.ClrVpin.TargetDir)Microsoft.WindowsAPICodePack.Shell.dll" />
        <File Source="$(var.ClrVpin.TargetDir)Microsoft.Xaml.Behaviors.dll" />
        <File Source="$(var.ClrVpin.TargetDir)NLog.dll" />
        <File Source="$(var.ClrVpin.TargetDir)Utils.dll" />

        <File Source="$(var.ClrVpin.TargetDir)nlog.config" />
        <File Source="$(var.ClrVpin.TargetDir)ClrVpin.runtimeconfig.json" />
      </Component>
    </ComponentGroup>
  </Fragment>

  <Fragment>
    <Component Id="Folders" Directory="BackupFolder" Guid="FA5ADFA8-B029-440D-B7B5-6F1EAC53D904">
      <CreateFolder />
    </Component>
  </Fragment>
</Wix>