<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="ClrVpin" Language="1033" Version="0.1.0.0" Manufacturer="Stoj" UpgradeCode="65e602aa-6d03-452a-b074-fbdc774e7f9a">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="ClrVpin Setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="ClrVpin" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent" Guid="8A17DDBE-F668-4821-A8FF-DE0878EDD380">
        <File Source="$(var.ClrVpin.TargetDir)ClrVpin.exe"  />
        <File Source="$(var.ClrVpin.TargetDir)ClrVpin.dll" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>