<?xml version="1.0" encoding="UTF-8"?>

<?define Version="!(bind.FileVersion.ClrVpxExe)"?>
<?define UpgradeCode="65e602aa-6d03-452a-b074-fbdc774e7f9a"?>

<!--https://wixtoolset.org/documentation/manual/v3/howtos/-->
<!--https://sorceryforce.net/en/tips/wix-->
<!--variable binding: http://windows-installer-xml-wix-toolset.687559.n2.nabble.com/Getting-the-version-from-the-Assembly-file-td2153899i20.html-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  
  <!--upgrade support; https://stackoverflow.com/a/26344742/227110
      - product id must be variable, bind.FileVersion is to nuspec Assembly File Version (nor product version = package version, or assembly version = ??)-->
  <Product Id="*" Name="ClrVpin" Language="1033" Version="$(var.Version)" Manufacturer="Stoj" UpgradeCode="$(var.UpgradeCode)">
    <!-- 64bit.. https://stackoverflow.com/questions/4304253/how-do-i-get-wix-to-generate-a-64-bit-msi 
                 https://sorceryforce.net/en/tips/wix64bit -->
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <!--https://wixtoolset.org/documentation/manual/v3/wixui/wixui_customizations.html-->
    <!--https://sorceryforce.net/en/tips/wix-installer-create2-->
    <UIRef Id="WixUI_InstallDir" />

    <!--retrieve previously installed folder: https://stackoverflow.com/a/36941018/227110-->
    <!--stash/retrieve settings: https://robmensching.com/blog/posts/2010/5/2/the-wix-toolsets-remember-property-pattern/-->
    <Property Id='INSTALLFOLDER'>
      <RegistrySearch Id='InstallFolderRegSearch' Root='HKCU' Key='SOFTWARE\[Manufacturer]\[ProductName]' Name='InstallFolder' Type='raw' />
    </Property>

    <!--dir id 'InstallFolder' must be in uppercase! https://wixtoolset.org//documentation/manual/v3/wixui/dialog_reference/wixui_installdir.html-->
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    
    <!-- launch app after installation: https://wixtoolset.org/documentation/manual/v3/howtos/ui_and_localization/run_program_after_install.html-->
    <UI>
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
    </UI>
    <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT" Value="Launch ClrVpin" />
    <Property Id="WixShellExecTarget" Value="[#ClrVpxExe]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />

    <!--pre-built wix ui customization-->
    <WixVariable Id="WixUILicenseRtf" Value="$(var.ClrVpin.TargetDir)\Resources\license.rtf" />
    <WixVariable Id="WixUIBannerBmp" Value="..\docs\ClrVpinBanner.png" />
    <WixVariable Id="WixUIDialogBmp" Value="..\docs\ClrVpinDialog.png" />
    
    <!--icon id must have a '.ico' or '.exe' suffix to keep wix's shortcut creation happy-->
    <Icon Id="ClrVpxIcon.exe" SourceFile="$(var.ClrVpin.TargetDir)ClrVpin.exe" />
    <Property Id="ARPPRODUCTICON" Value="ClrVpxIcon.exe" />

    <!--not strictly required at the moment.. but kept here for future use if/when version upgrade constraints are requried-->
    <Upgrade Id="$(var.UpgradeCode)">
      <UpgradeVersion Minimum="0.0.1" IncludeMinimum="yes" OnlyDetect="no" Maximum="$(var.Version)" IncludeMaximum="no" Property="OLDVERSIONFOUND" />
    </Upgrade>
    
    <!--allow downgrade includes allow same version upgrade (useful for development) AND avoids the double entries in appwiz-->
    <MajorUpgrade AllowDowngrades="yes" />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <!-- create these components -->
    <Feature Id="ProductFeature1" Title="ClrVpin Setup" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="FolderComponent" />
      <ComponentRef Id="ProgramMenuDir" />
      <ComponentRef Id="InstallFolderRegistry" />
    </Feature>
  </Product>

  <Fragment>
    <!-- special folder details.. https://docs.microsoft.com/en-au/windows/win32/msi/property-reference?redirectedfrom=MSDN#system_folder_properties-->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="ClrVpin">
          <Directory Id="BackupFolder" Name="backup" />
        </Directory>
      </Directory>

      <!--start menu (shortcut within is defined in ProductGroups)-->
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ProgramMenuDir" Name="ClrVpin">
          <Component Id="ProgramMenuDir" Guid="F6C4DAD3-964F-4D08-A054-21B52A35DA4F">
            <!--some weird Wix requirements to support 'user profile'-->
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
            <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Type="string" Value="" KeyPath="yes" />
          </Component>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <!--empty backup folder-->
    <Component Id="MyBackup" Directory="Backup" Guid="D92C7ACD-D58E-4A7F-83C8-C6AE57E45DFB">
      <CreateFolder />
    </Component>
  </Fragment>

  <Fragment>
    <!--all of the files to be installed into c:\program files\clrvpin-->
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="BinaryComponent" Guid="8A17DDBE-F668-4821-A8FF-DE0878EDD380" Win64="yes">
        <File Id="ClrVpxExe" Source="$(var.ClrVpin.TargetDir)ClrVpin.exe" KeyPath="yes">
          <!--shortcut icon-->
          <Shortcut Id="ClrVpinShortcut" Name="ClrVpin" Directory="ProgramMenuDir" WorkingDirectory="INSTALLDIR" Icon="ClrVpxIcon.exe" IconIndex="0" Advertise="yes" />
        </File>
        <File Source="$(var.ClrVpin.TargetDir)ClrVpin.dll" />
        <File Source="$(var.ClrVpin.TargetDir)ByteSize.dll" />
        <File Source="$(var.ClrVpin.TargetDir)MaterialDesignColors.dll" />
        <File Source="$(var.ClrVpin.TargetDir)MaterialDesignExtensions.dll" />
        <File Source="$(var.ClrVpin.TargetDir)MaterialDesignThemes.Wpf.dll" />
        <File Source="$(var.ClrVpin.TargetDir)Microsoft.WindowsAPICodePack.dll" />
        <File Source="$(var.ClrVpin.TargetDir)Microsoft.WindowsAPICodePack.Shell.dll" />
        <File Source="$(var.ClrVpin.TargetDir)Microsoft.Xaml.Behaviors.dll" />
        <File Source="$(var.ClrVpin.TargetDir)NLog.dll" />
        <File Source="$(var.ClrVpin.TargetDir)Utils.dll" />
      </Component>

      <Component Id="ContentComponent" Guid="8A17DDBE-F668-4821-A8FF-DE0878EDD381" Win64="yes">
        <File Source="$(var.ClrVpin.TargetDir)nlog.config" />
        <File Source="$(var.ClrVpin.TargetDir)ClrVpin.runtimeconfig.json" />
      </Component>
    </ComponentGroup>

    <!--store specified folder for a future upgrade/repair: https://stackoverflow.com/a/36941018/227110-->
    <Component Id="InstallFolderRegistry" Directory='INSTALLFOLDER'>
      <RegistryValue Root='HKCU' Key='SOFTWARE\[Manufacturer]\[ProductName]' Name='InstallFolder' Value='[INSTALLFOLDER]' Type='string' KeyPath="yes" />
    </Component>

  </Fragment>

  <Fragment>
    <!--reference to BackupFolder directory-->
    <Component Id="FolderComponent" Directory="BackupFolder" Guid="FA5ADFA8-B029-440D-B7B5-6F1EAC53D904" Win64="yes">
      <!--explicitly create folder.. required because no files are being added-->
      <CreateFolder />
    </Component>
  </Fragment>
</Wix>